body, html {
    margin: 0px;
    padding: 0px;
}

@mixin font_montserrat {
    font-family: Montserrat;  
    font-weight: bold;  
    font-style: normal;  
    font-stretch: normal;  
}

@mixin font_roboto {
    font-family: Roboto;  
    font-weight: 100;      
    font-style: normal;      
    font-stretch: normal;      
    line-height: normal;      
    letter-spacing: normal;    
}

@mixin button_font {
    @include font_montserrat;
    font-size: 10.5px;
    line-height: 0.67;
    letter-spacing: normal;
    color: #323232;
    text-transform: uppercase;
}

%circle {
    border-radius: 50%;
}

.background {
    position: relative;
    margin: auto;
    padding: 0px;
    width: 1400px;  
    background-color: #fefefe;
}

header {
    background-image: url(img/image.png);
    background-size: cover;
    width: 100%;  
    height: 692.6px;  

    .logo {
        position: relative;
        top: 7px;
        margin-left: 351px;
        margin-top: 35px;
        float: left;   
        
        a {
        @include font_montserrat;
        text-align: left;      
        color: #ffffff;
        font-size: 29.5px;  
        line-height: 0.64;  
        letter-spacing: -2.96px; 
        text-decoration: none;
        text-transform: uppercase;   
        }
    } 

    nav {
        float: left;
        margin-left: 607px;
        margin-top: -11px;   
       
        a {
            padding: 0px 15px;
            @include font_montserrat; 
            text-align: left;      
            color: #ffffff;    
            font-size: 10.5px;         
            letter-spacing: normal;  
            text-decoration: none;
            text-transform: uppercase; 

            &:hover {
                color: #ffe26d;
            }
        }
    }

    .head_txt {
        width: 472px; 
        float: left;
        margin-left: 351px;
        margin-top: 90px;
        
        h1{
            @include font_montserrat;
            text-align: left;      
            color: #ffffff;
            font-size: 40.5px;  
            line-height: normal;  
            letter-spacing: normal;  
        }
    
        p{
            @include font_roboto;      
            font-size: 19px;      
            text-align: left;      
            color: #ffffff;
        }
    }
}

%button {
    display: block;
    float: left;
    border-radius: 2.9px;  
    margin: 18px 3px;
    padding-top: 16px;
    text-align: center;   
    text-decoration: none;
    @include button_font;

    &:hover {
        background-color: #62497c;
        color: #ffffff;
    }
}

.button_more {
    width: 124px;
    height: 24px;   
    background-color: #ffe26d;
    @extend %button;
}

h2 {        
    @include font_montserrat;     
    font-size: 44px;              
    letter-spacing: 0.4px;      
    text-align: center;      
    color: #040405;
}

h3 {
    @include font_montserrat;
    font-size: 14.5px;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: center;
    color: #62497c;
    text-transform: uppercase;
  }

#welcome {  
        margin: 40px 351px 10px 351px;
        float: left;

        p {
        width: 436px;  
        @include font_roboto;      
        font-size: 29.5px;          
        text-align: left;      
        color: #040405;
        float: left;
        }

        img {
            margin-left: 64px;
            margin-top: 12px;
        }



    .welcome_section {
        border-bottom: 2px solid #e6e6e6;
        float: left;
        width: 100%;

        p {
            width: 156px;
            font-family: Helvetica;          
            font-size: 13.5px;          
            font-weight: normal;          
            font-style: normal;          
            font-stretch: normal;          
            line-height: 1.44;          
            letter-spacing: normal;          
            text-align: center;          
            color: rgba(4, 4, 5, 0.5);
            display: block;
        }

        %circle_welcome {
            position: relative;
            width: 81px;
            height: 81px;
            @extend %circle;            
            margin: 25%;
        }
        
        @each $img in drawer, bell, envelop {
            .circle_#{$img} {
                @extend %circle_welcome;
                background: url(img/#{$img}-icon.png) 50% 50% no-repeat #62497c;
            }
        }

        $section_num_welcome: 3;
    
        %sections_welcome {
            float: left;
            padding: 0px 57px;
            text-align: center;  
        }

        @for $i from 1 through $section_num_welcome {
            .welcome_section#{$i} {
                @if $i == 1 {
                    @extend %sections_welcome;
                    padding-left: 0px;
                } @else if $i == $section_num_welcome {
                    @extend %sections_welcome;
                    padding-right: 0px;
                } @else if {
                    @extend %sections_welcome;
                }            
            }
        }

        .button {
            margin: 135px -142px 92px -142px;
            height: 24px;
            float: left;
        }
    }
}

#projects{
    float: left;
    width: 100%;


    $section_num_projects: 4;
    
    %sections_projects {
        float: left;
        width: (1400px / 4) - 50px;
        margin-top: 10px;
        padding: 10px 10px 25px 40px;
        text-align: left;  
        background-color: #efefef;
    }

    @for $i from 1 through $section_num_projects {
        .projects_section#{$i} {
            @extend %sections_projects;
        }            
    }

    img {
        margin-left: -40px;
        margin-top: -10px;
        margin-bottom: 30px;
    }


    .button_projects {
        margin-top: 10px;
        width: 162px;
        height: 24px; 
        background-color: #fefefe;
        @extend %button;
    }

    h3 {
        text-align: left;
        color: #040405;
    }

    p {
        font-family: Helvetica;          
        font-size: 13.5px;          
        font-weight: normal;          
        font-style: normal;          
        font-stretch: normal;          
        line-height: 1.44;          
        letter-spacing: normal;          
        text-align: left;          
        color: rgba(4, 4, 5, 0.5);
        display: block;
    }

}

#pricing {
    float: left;;
    margin: 40px 347px 10px 348px;

    table {
        border: 0px;
    }
    
    caption {
        padding: 45px;  
        @include font_montserrat; 
        font-size: 44px;
        line-height: 0.92;
        letter-spacing: normal;
        text-align: center;
        color: #040405;
      }

    th {        
        width: 240px;    
        padding: 10px;   
        @include font_montserrat;     
        font-size: 14.5px;      
        line-height: 0.48;      
        letter-spacing: normal;      
        text-align: center;      
        color: #040405;      
      }

    #tr_price {
        td{
            border-right: 2px solid #e6e6e6;
            &:nth-last-child(1) {
                border: 0px;
            }  

        padding: 10px;   
        @include font_montserrat;
        font-size: 14.5px;  
        font-weight: normal;  
        line-height: 0.48;  
        letter-spacing: normal;  
        text-align: center;  
        color: rgba(4, 4, 5, 0.39);
        }
    }

    #tr_data {
        td{
            border-right: 2px solid #e6e6e6;
            &:nth-last-child(1) {
                border: 0px;
            }  

        padding: 10px;  
        font-family: Helvetica;
        font-size: 10.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.1;
        letter-spacing: normal;
        text-align: center;
        color: #040405;
        }
    }

    #tr_button {
        td{
            border-right: 2px solid #e6e6e6;
            &:nth-last-child(1) {
                border: 0px;
            }  
            
            text-align: center;
            padding-left: 71px;  
       
            .button_buy {
                width: 80px;
                height: 18px;
                background-color: #ffe26d;
                @extend %button;
                padding-top: 10px;
            } 
        }   
    }
}


#video {
    width: 100%;
    height: 783px;
    float: left;
    background-color: #62497c;
    margin-top: 50px;
    
    h2{
        padding-top: 35px;
        color: #fefefe;
    }

    .video_section {
        margin-left: -20%;
        margin-right: -20%;
        float: left;
    }

    $section_num_video: 3;
    
    %sections_video {
        float: left;
        width: 500px;
        height: 350px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px 10px 25px 40px;
    }

    @for $i from 1 through $section_num_video {
        .video_section#{$i} {
            @extend %sections_video;
            background: url(img/video-image_#{$i}.png) no-repeat;
            background-size: cover;
        }            
    }
}

#team {
    // border: 1px solid green;
    margin: 30px 301px 10px 301px;
    width: 800px;
    float: left;

    $section_num_team: 6;
    
    %circle_team {
        border: 1px solid pink;
        float: left;
        width: 172px;
        height: 172px;
        @extend %circle;            
        margin: 5px 45px 135px 45px; 
    }

    @for $i from 1 through $section_num_team {
        .circle_team_#{$i} {
            @extend %circle_team;
        }            
    }
}

#life {
    height: 781px;
    margin-top: 60px;
    width: 100%;
    float: left;
    background-color: #efefef;

    h2 {
        margin-top: 70px;
    }
}

input {
    border: 0px;
    outline: none;
    height: 48px;
    border-radius: 2.9px; 
}

#signup {
    background-image: url(img/image_2.png);
    background-size: cover;
    width: 100%;
    height: 327px;
    float: left;

    h2 {
        color: #ffffff;
        margin-top: 48px;
    }

    .button_signup {
        width: 132px;
        background-color: #ffe26d;
        @extend %button;
        padding-top: 5px;

    }
}

#blog {
    float: left;
    margin: 30px 301px 10px 301px;

    h2 {
        margin-top: 48px;
    }

    $section_num_blog: 3;
    
    %sections_blog {
        float: left;
        padding: 0px 27px;
        width: 156px;
        text-align: center;  
    }

    @for $i from 1 through $section_num_blog {
        .blog_section#{$i} {
                @extend %sections_blog;            
        }
    }
}

#map {
    width: 693px;  
    height: 660px;  
    float: left;
}

#contact {
    width: 707px;  
    height: 660px;  
    float: left;
    background-color: #ffe26d;

    h2, h4 {
        text-align: left;
        padding-left: 45px;
    }

    h4 {
        @include font_montserrat;  
        font-size: 10.5px;
        line-height: 0.67;      
        letter-spacing: normal;      
        color: #323232;
        text-transform: uppercase;
    }

    input, textarea {
        border: 0;
        resize: none;
        border-radius: 0;
        width: 311px;
        margin: 0px 45px;
        border-bottom: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        height: 44px;

        &[name="Message"] {
            height: 145px;
        }
    }
    .button_send {
        @extend %button;
        color: #ffffff;
        background-color: #62497c;
        padding-top: 5px;
        border-radius: 0;
        border: 0;
        width: 313px;
        margin: 20px 45px;
        cursor: pointer;
    }
}

footer {
    height: 300px;
    width: 100%;  
    float: left;
}