<div>
    <p>
    Battleship (also Battleships or Sea Battle) is a war-themed game for two players in which the opponents try to guess the location of their opponent's warships and sink them.
    </p>

    <p>
    Each player hides ships on a grid containing vertical and horizontal space coordinates. Players take turns calling out row and column coordinates on the other player's grid in an attempt to identify a square that contains a ship.
    </p>

    <p>
    The game board each player gets has two grids. The one of them is used by the player to "hide" the location of his own ships, while the other grid is used to record the shots fired toward the opponent and to document whether those shots were hits or misses.
    </p>

    <h3>
    Setting up the Game
    </h3>

    <p>
    Each player receives the following ships of varying lengths:
    </p>

        <ul>
            <li>Battleship, which has four squares</li>
            <li>Cruiser, which has three squares</li>
            <li>Submarine, which has two squares</li>
            <li>Destroyer, which has one square</li>
        </ul>

    <p>
    Before the game starts, each opponent secretly positions his own ships on the ocean grid by positioning their ships on the grid. Each ship must be placed horizontally or vertically across grid spaces. You cannot change the position of the ships after the game begins.
    </p>

    <h3>
    Basic Gameplay
    </h3>

    <p>
    Players take turns firing shots (by calling out a grid coordinate) to attempt to hit the opponent's enemy ships.
    </p>

    <p>
    On your turn, call out a letter and a number that identifies a row and column on your target grid. Your opponent checks that coordinate on their ocean grid and verbally responds "miss" if there is no ship there, or "hit" if you have correctly guessed a space that is occupied by a ship.
    </p>

    <p>
    When one of your ships has every square hits, you must announce to your opponent that he has sunk your ship.
    </p>

    <p>
    The first player to sink all of his opponent's ships wins the game.
    </p>

</div>