* {
    padding: 5px;
}

div {
    width: 50%;
    margin: 35px auto;
    padding: 35px 40px;
    border: 1px solid #1976d2;
    background-color: #fafafa;
    border-radius: 4px;
}

li {
    margin-left: 35px;
}