$blue: #1976d2;
$shadow: #00000035;

.settingsfield-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.button {
    background-color: inherit;
    margin: 5px 15px 0px;
    &:first-child{
        margin-left: 0px;
    }
    &:last-child{
        margin-right: 0px;
    }
    padding: 10px 30px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    // border: none;

    &:hover{
        cursor: pointer;
        // transform: translateY(-1px);
        box-shadow: 0 2px 10px $shadow;
    }

    &-auto{
        color: $blue;
        border: 1px solid $blue;
        background-color: #fafafa;
        &:active {
            border-color: #b9b9b9;
            box-shadow: inset 0 1px 2px $shadow;
        }
        // position: relative;
        // &:before {
        //     // content: '&amp;#8634;';
        //     content: '↺';
        //     font-size: 150%;
        //     position: absolute;
        //     top: 5%;
        //     left: 9%;
        //     font-style: 600;
        // }
    }

    &-play{
        border: 1px solid $blue;
        background-color: $blue;
        color: white;
        position: relative;
        overflow: hidden;
        animation-name: show-play;
        animation-duration: 1.5s;
        &:active {
            // border-color: ;
            box-shadow: inset 0 1px 2px $shadow;
            color: $blue;
            border: 1px solid #b9b9b9;
            background-color: #fafafa;
        }
    }
}

@keyframes show-play {
    0%, 50% {
        border: none;
        background-color: inherit;
        color: #fafafa;box-shadow: 0 0px 0px #fff;
    }
    60% {
        background-color: $blue;
        color: white;
    }
    80% {
        box-shadow: 0 2px 10px $blue, 0 2px 40px $blue;
    }
    100% {
        box-shadow: 0 1px 1px $blue;
    }
}


.button-line-top{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, $blue);
    animation-name: show-line-top;
    animation-duration: 1s;
}

@keyframes show-line-top {
    0%, 20% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.button-line-bottom{
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, $blue);
    animation-name: show-line-bottom;
    animation-duration: 1s;
}

@keyframes show-line-bottom {
    0%, 20% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

.button-line-left{
    position: absolute;
    bottom: -100%;
    left: 0%;
    height: 100%;
    width: 1px;
    background: linear-gradient(0deg, transparent, $blue);
    animation-name: show-line-left;
    animation-duration: 1s;
}

@keyframes show-line-left {
    0%{
        bottom: -100%;
    }
    55%, 100% {
        bottom: 100%;
    }
}

.button-line-right{
    position: absolute;
    bottom: 100%;
    right: 0%;
    height: 100%;
    width: 1px;
    background: linear-gradient(180deg, transparent, $blue);
    animation-name: show-line-right;
    animation-duration: 1s;
}

@keyframes show-line-right {
    0% {
        bottom: 100%;
    }
    55%, 100% {
        bottom: -100%;
    }
}




// @media (min-width: 992px) {
//     .button {
//         margin: 5px 15px;
//     }
// }