<div class="settingsfield-container">
    <div class="ships-container">
        <p>Click on AUTO button to locate your ships</p>
        <!-- <app-ships></app-ships> -->
    </div>

    <div class="buttons-container">
        <button class="button button-auto" (click)="onAuto()" [disabled]="gameService.gameOn">Auto</button>
        <button *ngIf="gameService.readyToPlay" class="button button-play"(click)="onPlay()" [disabled]="gameService.gameOn">
            <span class="button-line-top"></span>
            <span class="button-line-right"></span>
            <span class="button-line-left"></span>
            <span class="button-line-bottom"></span>
            Play
        </button>
    </div>
</div>