.button_more, .button_projects, .button_buy, .button_signup, .button_send, .logo_span, .menu_a, .slider_container .content_container h2, .video_info, .pricing .tr_price, .team span, .contact_label, .h2, .h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.button_more, .button_projects, .button_buy, .button_signup, .button_send {
  display: block;
  border-radius: 2.9px;
  margin: 18px 3px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 10.5px;
  line-height: 0.67;
  letter-spacing: normal;
  color: #323232;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button_more:hover, .button_projects:hover, .button_buy:hover, .button_signup:hover, .button_send:hover {
  background-color: #62497c;
  color: #ffffff;
}

.button_more {
  width: 124px;
  height: 24px;
  background-color: #ffe26d;
}

.button_projects {
  width: 162px;
  height: 24px;
  background-color: #fefefe;
}

.button_buy {
  width: 80px;
  height: 18px;
  background-color: #ffe26d;
  padding-top: 10px;
  text-transform: uppercase;
}

.button_signup {
  width: 132px;
  background-color: #ffe26d;
  padding-top: 5px;
}

.scroller_button {
  position: relative;
  width: 31px;
  background-color: #2a2a2a;
  border: 0px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.scroller_button:hover {
  background-color: #62497c;
}

.scroller_left:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../img/left-arrow.png) 50% 50% no-repeat;
}

.scroller_right:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../img/right-arrow.png) 50% 50% no-repeat;
}

.button_send {
  color: #ffffff;
  background-color: #62497c;
  padding-top: 5px;
  border-radius: 0;
  border: 0;
  width: 313px;
  margin: 0px 45px;
  cursor: pointer;
  height: 42px;
}

.slider_container .content_container h2 {
  -webkit-animation-name: show_h2;
          animation-name: show_h2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.slider_container .content_container p {
  -webkit-animation-name: show_p;
          animation-name: show_p;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.slider_container .content_container .button_more {
  -webkit-animation-name: show_b;
          animation-name: show_b;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
}

@-webkit-keyframes show_h2 {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
}

@keyframes show_h2 {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
}

@-webkit-keyframes show_p {
  0%, 50% {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
}

@keyframes show_p {
  0%, 50% {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
}

@-webkit-keyframes show_b {
  0%, 75% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
}

@keyframes show_b {
  0%, 75% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
}

.pricing_section:hover {
  -webkit-transition: -webkit-transform 1.5s ease 0s;
  transition: -webkit-transform 1.5s ease 0s;
  transition: transform 1.5s ease 0s;
  transition: transform 1.5s ease 0s, -webkit-transform 1.5s ease 0s;
  -webkit-transform: scale(1.1) rotate3D(0, 1, 0, 360deg);
          transform: scale(1.1) rotate3D(0, 1, 0, 360deg);
}

.play:focus {
  -webkit-animation-name: heart_beat;
          animation-name: heart_beat;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes heart_beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  35% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heart_beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  35% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section_blog {
  -webkit-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
}

.section_blog:focus {
  -webkit-transform: translate3d(0%, -70%, -5000px) scale(16);
          transform: translate3d(0%, -70%, -5000px) scale(16);
}

.social_ul li:hover {
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.circle_team:hover:before {
  -webkit-animation-name: show_team;
          animation-name: show_team;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes show_team {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  55% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show_team {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  55% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?saxd5b");
  src: url("../fonts/icomoon.eot?saxd5b#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?saxd5b") format("truetype"), url("../fonts/icomoon.woff?saxd5b") format("woff"), url("../fonts/icomoon.svg?saxd5b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-behance:before {
  content: "\f1b4";
}

.icon-tumblr:before {
  content: "\f173";
}

.main_header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header_container {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo {
  margin: 41px 0px;
}

.logo_span {
  text-align: left;
  color: #ffffff;
  font-size: 29.5px;
  line-height: 0.64;
  text-decoration: none;
  text-transform: uppercase;
}

.header_menu {
  margin: 31px 0px;
}

.menu_a {
  text-align: left;
  color: #fff;
  font-size: 10.5px;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  display: inline-block;
  padding: 5px 10px;
}

.menu_a:hover {
  color: #ffe26d;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu li {
  display: inline;
  margin-left: 10px;
}

.header_slider {
  background-image: url(../img/image.png);
  background-size: cover;
  width: 100%;
  height: 693px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.slider_container {
  padding-bottom: 35px;
  height: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider_container .content_container {
  padding: 0px 3px;
}

.slider_container .content_container h2 {
  width: 490px;
  text-align: left;
  color: #fff;
  font-size: 40.5px;
  line-height: normal;
  letter-spacing: normal;
}

.slider_container .content_container p {
  width: 440px;
  font-family: Roboto;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 100;
  font-size: 19px;
  text-align: left;
  color: #fff;
}

.slider_dot {
  margin-right: 6px;
  float: left;
  width: 8px;
  height: 8px;
  opacity: 0.5;
  background-color: #fff;
}

.slider_dot:hover {
  opacity: 0.8;
  cursor: pointer;
}

.active_dot {
  opacity: 1;
}

.welcome img {
  margin: 16px 9px;
}

.welcome .content_container {
  margin: 0 auto;
  padding-top: 37px;
}

.welcome_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome_p {
  width: 436px;
  font-family: Roboto;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 100;
  font-size: 29.5px;
  text-align: left;
  color: #040405;
}

.welcome_sections_p {
  font-family: Helvetica;
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #040405;
  opacity: 50%;
  width: 156px;
  text-align: center;
  display: block;
}

.welcome_section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
  padding: 65px 0px 35px 0px;
}

.slider_dot, .circle_drawer, .circle_bell, .circle_envelop, .play, .circle_team, .circle_team:hover:before {
  border-radius: 50%;
}

.circle_drawer, .circle_bell, .circle_envelop {
  width: 81px;
  height: 81px;
}

.circle_drawer {
  background: url(../img/drawer-icon.png) 50% 50% no-repeat #62497c;
}

.circle_bell {
  background: url(../img/bell-icon.png) 50% 50% no-repeat #62497c;
}

.circle_envelop {
  background: url(../img/envelop-icon.png) 50% 50% no-repeat #62497c;
}

.welcome_sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video {
  overflow: hidden;
  width: 100%;
  background-color: #62497c;
  padding: 36px 0px 90px 0px;
  margin-top: 56px;
}

.video h2 {
  color: #fefefe;
}

.video_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 2140px;
  margin-left: -370px;
}

.video_preview1, .video_preview2, .video_preview3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 690px;
  height: 461px;
}

.video_preview1:hover:before, .video_preview2:hover:before, .video_preview3:hover:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00000080;
}

.play {
  z-index: 1;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.video_preview1 {
  background: url(../img/video-image_1.png) no-repeat;
  background-size: cover;
}

.video_preview2 {
  background: url(../img/video-image_2.png) no-repeat;
  background-size: cover;
}

.video_preview3 {
  background: url(../img/video-image_3.png) no-repeat;
  background-size: cover;
}

.video_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
  font-size: 10.5px;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
  text-transform: uppercase;
}

.project p {
  font-family: Helvetica;
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #040405;
  opacity: 50%;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 17px;
}

.project .h3 {
  text-align: left;
  color: #040405;
  margin-top: 20px;
  margin-bottom: 0px;
}

.project p {
  text-align: left;
  margin-bottom: 7px;
}

.project_section, .project_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project_img {
  position: relative;
}

.sections_projects {
  position: relative;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #efefef;
}

.sections_projects:nth-child(2n) {
  background-color: #e4e4e4;
}

.sections_projects:hover {
  background-color: #ffe26d;
}

.sections_projects:hover .project_img:before {
  content: '';
  width: 100%;
  height: 99%;
  position: absolute;
  background-color: #00000080;
}

.project_info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 10px 30px 45px;
}

.pricing {
  padding: 15px 0px 15px 0px;
}

.pricing h2 {
  margin-top: 60px;
}

.pricing .content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing .button_more {
  margin: 0 auto;
}

.pricing ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pricing .pricing_section {
  width: 250px;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  text-align: center;
}

.pricing .pricing_section:nth-last-child(1) {
  border-right: 0px;
}

.pricing .pricing_section:nth-child(1) {
  border-left: 0px;
}

.pricing .pricing_section:hover {
  -webkit-box-shadow: 0 0 4px 2px #ffa500;
          box-shadow: 0 0 4px 2px #ffa500;
  border-color: #fff;
  cursor: pointer;
}

.pricing .h3 {
  padding-bottom: 10px;
  font-size: 14.5px;
  line-height: 0.48;
  color: #040405;
  text-transform: uppercase;
}

.pricing .tr_price {
  padding: 10px;
  font-size: 14.5px;
  font-weight: normal;
  line-height: 0.48;
  letter-spacing: normal;
  color: #04040563;
}

.pricing .tr_data {
  padding-top: 10px;
  font-family: Helvetica;
  font-size: 10.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.1;
  letter-spacing: normal;
  text-align: center;
  color: #040405;
}

.pricing .price_btn {
  text-align: center;
  padding: 0px;
  padding-left: 71px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 88px 0px;
  text-align: center;
}

.team .content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team span {
  font-size: 14.5px;
  font-weight: normal;
  line-height: 0.48;
  letter-spacing: normal;
  color: #04040563;
}

.circle_team {
  position: relative;
  overflow: hidden;
  width: 172px;
  height: 172px;
  margin-bottom: 40px;
}

.circle_team:hover:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #64468380;
}

.team_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0px;
}

.life {
  width: 100%;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.life img {
  width: 100%;
}

.life .content_container {
  margin: 35px 0px;
}

.life_scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 69px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0px 70px 0px;
}

.life_scroller img {
  width: 110px;
  height: 69px;
}

.signup_form_item {
  border: 0px;
  display: inline-block;
  border-radius: 2.9px;
  margin: 0px;
}

.signup_form_item[type="email"] {
  width: 414px;
  height: 48px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 10px;
}

.signup_form_item[type="submit"] {
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 50px;
}

.signup_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 546px;
}

.signup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/image_2.png);
  background-size: cover;
}

.signup h2 {
  color: #fff;
  margin-top: 48px;
}

.signup .content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 145px;
}

.blog h2 {
  margin-top: 60px;
}

.blog .h3 {
  padding: 5px;
  color: #040405;
  line-height: 1.3;
}

.blog .content_container {
  margin: 0 auto;
}

.blog img {
  margin: 10px 0px;
  width: 206px;
}

.b_button .button_more {
  margin: 25px auto;
}

.blog_p, .blog_date {
  font-family: Helvetica;
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.74;
  letter-spacing: normal;
  text-align: center;
}

.blog_p {
  color: #040405;
}

.blog_date {
  color: #040405;
  opacity: 50%;
}

.blog_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-perspective: 400px;
          perspective: 400px;
}

.section_blog {
  padding: 5px 10px 10px 5px;
  width: 200px;
  text-align: center;
  margin-bottom: 60px;
  outline: 0;
  background-color: #fff;
}

.section_blog:first-child {
  margin-right: 35px;
}

.section_blog:last-child {
  margin-left: 35px;
}

.section_blog:focus {
  -webkit-box-shadow: 0 0 4px 2px #ffa500;
          box-shadow: 0 0 4px 2px #ffa500;
  cursor: pointer;
  z-index: 20;
}

.contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map {
  width: 693px;
  height: 660px;
}

.contact {
  width: 707px;
  height: 660px;
  background-color: #ffe26d;
}

.contact h2 {
  text-align: left;
  padding-left: 45px;
}

.contact textarea {
  padding-top: 10px;
}

.contact_label {
  font-size: 10.5px;
  line-height: 0.67;
  letter-spacing: normal;
  color: #323232;
  text-transform: uppercase;
  display: block;
  margin: 0px 0px 10px 45px;
}

.contact_input {
  border: 0;
  resize: none;
  border-radius: 0;
  width: 306px;
  margin: 0px 0px 20px 45px;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  height: 42px;
  padding-left: 5px;
  font-family: Helvetica;
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.contact_input[name="message"] {
  height: 135px;
}

.footer {
  padding: 65px 0 129px;
  width: 100%;
}

.footer .h3 {
  font-size: 10px;
  color: #040405;
}

.footer .content_container {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: #62497c;
}

.footer .footer_ul, .footer a {
  list-style-type: none;
  margin: 20px 0px 0px;
  padding: 0;
  font-family: Helvetica;
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.74;
  letter-spacing: normal;
  text-align: center;
  color: #040405;
}

.footer .social_ul {
  margin: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .social_ul li {
  margin: 0px 5px;
}

.footer .social_ul a {
  font-size: 18px;
  padding: 5px;
}

.footer_section {
  width: 220px;
}

body, html {
  margin: 0px;
  padding: 0px;
}

.h2 {
  font-size: 44px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #040405;
}

.h3 {
  font-size: 14.5px;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: center;
  color: #62497c;
  text-transform: uppercase;
}

.body_wrapper {
  position: relative;
  margin: 0px auto;
  width: 1400px;
  background-color: #fefefe;
}

.header_container, .content_container, .slider_container, .welcome_section_container {
  width: 700px;
}
/*# sourceMappingURL=style.css.map */