.slider_container .content_container h2 {
  -webkit-animation-name: show_h2;
          animation-name: show_h2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.slider_container .content_container p {
  -webkit-animation-name: show_p;
          animation-name: show_p;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.slider_container .content_container .button_more {
  -webkit-animation-name: show_b;
          animation-name: show_b;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
}

@-webkit-keyframes show_h2 {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
}

@keyframes show_h2 {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
}

@-webkit-keyframes show_p {
  0%, 50% {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
}

@keyframes show_p {
  0%, 50% {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
}

@-webkit-keyframes show_b {
  0%, 75% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
}

@keyframes show_b {
  0%, 75% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
}

.pricing_section:hover {
  -webkit-transition: -webkit-transform 1.5s ease 0s;
  transition: -webkit-transform 1.5s ease 0s;
  transition: transform 1.5s ease 0s;
  transition: transform 1.5s ease 0s, -webkit-transform 1.5s ease 0s;
  -webkit-transform: scale(1.1) rotate3D(0, 1, 0, 360deg);
          transform: scale(1.1) rotate3D(0, 1, 0, 360deg);
}

.play:focus {
  -webkit-animation-name: heart_beat;
          animation-name: heart_beat;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes heart_beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  35% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heart_beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  35% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section_blog {
  -webkit-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
}

.section_blog:focus {
  -webkit-transform: translate3d(0%, -70%, -5000px) scale(16);
          transform: translate3d(0%, -70%, -5000px) scale(16);
}

.social_ul li:hover {
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.circle_team:hover:before {
  -webkit-animation-name: show_team;
          animation-name: show_team;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes show_team {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  55% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show_team {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  55% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=animation.css.map */