%font_montserrat {
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@mixin font_roboto {
    font-family: Roboto;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

@mixin button_font {
    @extend %font_montserrat;
    font-size: 10.5px;
    line-height: 0.67;
    letter-spacing: normal;
    color: #323232;
    text-transform: uppercase;
}