.signup_form_item{
    border: 0px;
    // outline: none;
    display: inline-block;
    border-radius: 2.9px;
    margin: 0px;
    &[type="email"] {
        width: 414px;
        height: 48px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: 10px;
    }
    &[type="submit"] {
        min-width: 100px;
        cursor: pointer;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 50px;
    }
}

.signup_form {
    margin: 40px auto;
    margin-left: 5vw;
    display: flex;
    width: 70vmin;
}


.signup {
    background-image: url(../assets/img/image_2.png);
    background-size: cover;
    padding-bottom: 145px;
    position: relative;

    h2 {
        color: #fff;
        margin-top: 48px;
    }

    // .content_container {
    //     align-content: center;
    // }
}