.life {
    padding-top: 60px;
    background-color: $grey;

    img {
        width: 100%;
    }

    .content_container {
        text-align: center;
        justify-content: center;
    }
}

.life_scroller {
    display: flex;
    height: 69px;
    justify-content: space-between;
    margin: 5px 0px 70px 0px;

    img {
        width: 110px;
        height: 69px;
        margin: 0px 7px;
    }
}

.img_scroller {
    display: flex;
    flex-wrap: nowrap;
    width: 70vw;
    overflow: hidden;
    justify-content: space-between;
    margin: 0px 7px;
}