// @import 'fonts.scss';

.video {
    overflow: hidden;
    width: 100%;
    background-color: #62497c;
    padding: 36px 0px 90px 0px;
    margin-top: 56px;

    h2{
        color: #fefefe;
    }
}

.video_section {
    display: flex;
    justify-content: space-between;
    width: 2140px;
    margin-left: -370px;
}

$section_num_video: 3;

%sections_video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 690px;
    height: 461px;

    &:hover {
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #00000080;
        }
    }
}

.play {
    z-index: 1;
    background-color: transparent;
    @extend %circle;
    border: 0;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

@for $i from 1 through $section_num_video {
    .video_preview#{$i} {
        @extend %sections_video;
        background: url(img/video-image_#{$i}.png) no-repeat;
        background-size: cover;
    }
}

.video_info {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    @extend %font_montserrat;
    font-size: 10.5px;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    text-transform: uppercase;
}