.rows {
    display: flex;
    width: 100%;
    height: 10%;
}

.battlefield-container {
    width: 100%;
    height: 100%;
    border: 2px solid #1976d2;
}

.cell {
    border: 1px dotted #1976d2;
    width: 10%;
    background: #fff;
    text-align: center;
    overflow: hidden;
}

.isEnemyPointer:hover {
    cursor: pointer;
}

// .isEnemyShooter {
//     opacity: 0.8;
// }

.ship {
    background-color: #1976d2;
}

.miss {
    background-color: #fff;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        top: 40%;
        left: 40%;
        border: 1px solid #1976d2;
    }
}

.hit {
    position: relative;
    background-color: #1976d2;
    &:before,
    &:after {
        content: "";
        position: absolute;
    }
    &:after {
        width: 80%;
        height: 2px;
        background: #fff;
        top: 47%;
        left: 10%;
        transform: rotate(45deg);
    }

    &:before {
        width: 80%;
        height: 2px;
        background: #fff;
        top: 47%;
        left: 10%;
        transform: rotate(-45deg);
    }
}