// @import 'fonts.scss';

%p_text {
    font-family: Helvetica;
    font-size: 13.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: rgba(4, 4, 5, 0.5);
}

.project{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 17px;

    h3 {
        text-align: left;
        color: #040405;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    p {
        @extend %p_text;
        text-align: left;
        margin-bottom: 7px;
    }
}

.project_section, .project_info {
    display: flex;
}

.project_img {
    position: relative;
}

$section_num_projects: 4;

%sections_projects {
    position: relative;
    width: 25%;
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: #efefef;

    &:nth-child(2n) {
        background-color: #e4e4e4;
    }

    &:hover {
        background-color: #ffe26d;

        .project_img:before {
            content: '';
            width: 100%;
            height: 99%;
            position: absolute;
            background-color: #00000080;
        }
    }
}

@for $i from 1 through $section_num_projects {
    .project_section#{$i} {
        @extend %sections_projects;
    }
}

.project_info {
    flex-direction: column;
    padding: 30px 10px 30px 45px;
}