.signup_form_item{
    border: 0px;
    // outline: none;
    display: inline-block;
    border-radius: 2.9px;
    margin: 0px;
    &[type="email"] {
        width: 414px;
        height: 48px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: 10px;
    }
    &[type="submit"] {
        cursor: pointer;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 50px;
    }
}

.signup_form {
    display: flex;
    // flex-wrap: nowrap;
    // justify-content: space-between;
    width: 546px;
}


.signup {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(img/image_2.png);
    background-size: cover;

    h2 {
        color: #ffffff;
        margin-top: 48px;
    }

    .content_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 145px;
    }
}