<div class="playground">
    <div class="field-container">
        <div class="battlefield player-battlefield">
            <app-battlefield
                [isEnemy]="false"
                [field] = "player.field"
                [ships] = "player.ships"
                (nextShooter) = "nextShooter($event)"
            >
            </app-battlefield>
        </div>
    </div>
    <div class="field-container">
        <div class="battlefield comp-battlefield" [ngClass]="{ compBattlefieldRotate: readyToPlay }">
            <app-battlefield
                [isEnemy]="true"
                [field] = "enemy.field"
                [ships] = "enemy.ships"
                (nextShooter) = "nextShooter($event)"
            >
            </app-battlefield>
        </div>
        <div class="settingsfield" [ngClass]="{ settingsRotate: readyToPlay }" >
            <app-settingsfield
                [readyToPlay]="readyToPlay"
                (autoShips)="autoShips($event)"
                (start)="start($event)"
            ></app-settingsfield>
        </div>
    </div>
</div>